COMPOSE_PROFILES=

ETL_DIR=../../finngraph-etl
BACKEND_DIR=../../finngraph-backend-api-server
AI_DIR=../../finngraph-ai-server
GATEWAY_DIR=../../finngraph-api-gateway-GO

ETL_DB_NAME=finngraph
ETL_DB_USER=threeback
ETL_DB_PASSWORD=12345678

APP_DB_USER=finngraph_app
APP_DB_PASSWORD=app
APP_DB_RUNTIME_USER=finngraph_app_runtime
APP_DB_RUNTIME_PASSWORD=app

NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=finngraph-local
NEO4J_DATABASE=finngraph

INTERNAL_API_TOKEN=local-internal-token
